.root {
    background-color: rgb(233, 229, 229);
    border: 2px solid grey;
    border-radius: 15px;
    height: 400px;
    overflow: auto;
    padding: 5px 20px;
}

.message {
    margin-top: 5px;
}